<div class="container">

  <div class="container d-flex justify-content-end mt-5">

    <form class="row g-3">
      <div class="col-auto">
        <label for="inputFind" class="visually-hidden">Password</label>
        <!-- la variable de referencia #filter almacena lo que se ingrese en el input, ese valor se lo pasamos al metodo filterResult cuando se active el evento click del boton -->
        <input type="text" class="form-control" id="inputFind" placeholder="Buscar pedido" #filter/>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">buscar</button>
      </div>
    </form>
  </div>
  
  <div>
    <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-event>
            <span 
                class="flex p-4 w-20rem h-2rem align-items-center justify-content-center text-white rounded-circle z-1 shadow-1" 
                [style]="{ 'background-color': event.color }">
                    <i [class]="event.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-event>
            <p-card [header]="event.status" [subheader]="event.date">
                
                <!-- <p></p> -->
                <!-- <p-button label="Read more" [text]="true" /> -->
            </p-card>
        </ng-template>
    </p-timeline>
  </div>

</div>





<!-- <div class="container py-3 d-flex flex-column justify-content-center align-items-center my-5" style="min-width: 80%;">
  <div class="contenedor-fila d-flex gap-5">
    <div class="fecha">
      <h4 class="fs-6">fecha</h4> 
      <p>hora</p>
    </div>

    <div class="separacion d-flex flex-column align-items-center">
      <span class="bg-primary rounded-circle p-4 rounded-5" style="width: 20px;"></span>
      <span class="border border-start" style="width: 1px; height: 100px;"></span>
    </div>
    <div class="estado">
      <h3>estado</h3>
      <p>descripcion estado</p>

    </div>
  </div>

  <div class="contenedor-fila d-flex gap-5">
    <div class="fecha">
      <h4 class="fs-6">fecha</h4> 
      <p>hora</p>
    </div>

    <div class="separacion d-flex flex-column align-items-center">
      <span class="bg-primary rounded-circle p-4 rounded-5" style="width: 20px;"></span>
      <span class="border border-start" style="width: 1px; height: 100px;"></span>
    </div>
    <div class="estado">
      <h3>estado</h3>
      <p>descripcion estado</p>

    </div>
  </div>

  <div class="contenedor-fila d-flex gap-5">
    <div class="fecha">
      <h4 class="fs-6">fecha</h4> 
      <p>hora</p>
    </div>

    <div class="separacion d-flex flex-column align-items-center">
      <span class="bg-primary rounded-circle p-4 rounded-5" style="width: 20px;"></span>
      <span class="border border-start" style="width: 1px; height: 100px;"></span>
    </div>
    <div class="estado">
      <h3>estado</h3>
      <p>descripcion estado</p>

    </div>
  </div>

  <div class="contenedor-fila d-flex gap-5">
    <div class="fecha">
      <h4 class="fs-6">fecha</h4> 
      <p>hora</p>
    </div>

    <div class="separacion d-flex flex-column align-items-center">
      <span class="bg-primary rounded-circle p-4 rounded-5" style="width: 20px;"></span>
      <span class="border border-start" style="width: 1px; height: 100px;"></span>
    </div>
    <div class="estado">
      <h3>estado</h3>
      <p>descripcion estado</p>

    </div>
  </div>
</div> -->

